<!--
<div id="components" class="page-layout carded fullwidth inner-scroll">

    &lt;!&ndash; TOP BACKGROUND &ndash;&gt;
    <div class="top-bg accent"></div>
    &lt;!&ndash; / TOP BACKGROUND &ndash;&gt;

    &lt;!&ndash; CENTER &ndash;&gt;
    <div class="center">

        &lt;!&ndash; HEADER &ndash;&gt;
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            &lt;!&ndash; APP TITLE &ndash;&gt;
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="getContentLink()">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start center"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="action ==='edit'">
                        {{dossier.nom}}
                    </div>
                    <div class="h2" *ngIf="action ==='add'" fxLayoutAlign="start center">
                        {{ 'APP.DOSSIER.ADD_TITLE' | translate }}
                    </div>
                </div>
             </div>
            &lt;!&ndash; / APP TITLE &ndash;&gt;
        </div>
        &lt;!&ndash; / HEADER &ndash;&gt;

        &lt;!&ndash; CONTENT CARD &ndash;&gt;
        <div class="content-card">
            &lt;!&ndash; CONTENT FROM &ndash;&gt;
            <form id="contentForm" [formGroup]="form">
                &lt;!&ndash; NOM &ndash;&gt;
                <mat-form-field appearance="outline">
                    <mat-label>Nom</mat-label>
                    <mat-icon matSuffix class="secondary-text">label</mat-icon>
                    <input name="nom" formControlName="nom" matInput required>
                    <mat-error *ngIf="!form.controls['nom'].valid && form.controls['nom'].dirty &&
          form.controls['nom'].errors['required']">
                        Le champ est requis
                    </mat-error>
                </mat-form-field>

               &lt;!&ndash; &lt;!&ndash; Taille &ndash;&gt;
                <mat-form-field appearance="outline">
                    <mat-label>Taille</mat-label>
                    <mat-icon matSuffix class="secondary-text">label</mat-icon>
                    <input type="number" name="taille" formControlName="taille" matInput>
                </mat-form-field>&ndash;&gt;

                <div id="action-button-wrapper">
                    <div class="button-item" *ngIf="action === 'add' || !action">
                        <button mat-raised-button class="add" matTooltip="{{ 'APP.ADD_BTN' | translate }}"
                                (click)="_save()" [disabled]="!form.valid">
                            {{ 'APP.ADD_BTN' | translate }} <i class="material-icons">check</i>
                        </button>
                    </div>

                    <div class="button-item" *ngIf="action === 'edit'">
                        <button mat-raised-button class="edit" matTooltip="{{ 'APP.UPDATE_BTN' | translate }}"
                                (click)="_update()" [disabled]="!form.valid">
                            {{ 'APP.UPDATE_BTN' | translate }} <i class="material-icons">check</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        &lt;!&ndash; / CONTENT CARD &ndash;&gt;
    </div>
    &lt;!&ndash; / CENTER &ndash;&gt;
</div>-->

<div fxLayout="row" fxLayoutAlign="end" style="color: #0B60A9">
    <div  style="width: 5%; color: #F5F5F5"  fxLayout="row" fxLayoutAlign="end start">
        <mat-icon matSuffix class="secondary-text" color="primary" (click)="onNoClick()" style="cursor: pointer">clear</mat-icon>
    </div>
</div>

<div class="" fxLayout="row" fxLayoutAlign="center" >

    <h1 mat-dialog-title layout-align="center" >Nouveau dossier</h1>

</div>

<div mat-dialog-content>
    <div class="content-card">
        <form id="contentForm" [formGroup]="form">
            <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <mat-icon matSuffix class="secondary-text">label</mat-icon>
                <input name="nom" formControlName="nom" matInput required>
                <mat-error *ngIf="!form.controls['nom'].valid && form.controls['nom'].dirty &&
          form.controls['nom'].errors['required']">
                    Le champ est requis
                </mat-error>
            </mat-form-field>
        </form>

    </div>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="center">
    <div>
        <div  *ngIf="data.action === 'add'" style="margin-left: 5%">
            <button  mat-raised-button  color="accent" class="add" matTooltip="{{ 'APP.ADD_BTN' | translate }}"
                    (click)="_save()" [disabled]="!form.valid">
                {{ 'APP.ADD_BTN' | translate }} <i class="material-icons">check</i>
            </button>
            </div>
        <div class="button-item" *ngIf="data.action === 'edit'" style="margin-left: 5%">
            <button mat-raised-button color="accent" matTooltip="{{ 'APP.UPDATE_BTN' | translate }}"
                    (click)="_save()" [disabled]="!form.valid">
                {{ 'APP.UPDATE_BTN' | translate }} <i class="material-icons">check</i>
            </button>
        </div>
    </div>
</div>

