<div fusePerfectScrollbar id="components" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="baseLink">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="subtitle secondary-text">
                        <span class="logo-text h1">{{ componentName }}</span>
                    </div>
                </div>
            </div>

            <!-- ADD AND REFRESH BUTTON -->
            <div>
                <button [routerLink]="categorieEditLink" class="add-product-button fuse-white mt-24 mt-md-0"
                        mat-raised-button matTooltip="{{ 'MODIFIER' }}">
                    <i class="material-icons" style="color: rgba(0, 0, 0, 0.87);">edit</i>&nbsp;
                    <span style="text-transform: uppercase">{{ 'modifier' | translate }}</span>
                </button>
                &nbsp;
                <button (click)="delete()" class="add-product-button fuse-white mt-24 mt-md-0" mat-raised-button
                        matTooltip="{{ 'SUPPRIMER' }}">
                    <i class="material-icons" style="color: rgba(0, 0, 0, 0.87);">delete</i>&nbsp;
                    <span style="text-transform: uppercase">{{ 'supprimer' | translate }}</span>
                </button>
                &nbsp;
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT FROM -->
            <div class="content">
                <div class="tab-content" fusePerfectScrollbar>

                    <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="m-0 mr-16 secondary-text">account_box</mat-icon>
                        <div class="h2 secondary-text">Information</div>
                    </div>
                    <div class="card">
                        <mat-card>

                            <!-- NOM -->
                            <mat-form-field appearance="outline">
                                <mat-label>Nom</mat-label>
                                <mat-icon matSuffix class="secondary-text">Nom</mat-icon>
                                <input name="nom" [value]="categorie?.nom" matInput readonly>
                            </mat-form-field>

                        </mat-card>
                    </div>
                </div>
            </div>
            <!-- / CONTENT CARD -->
        </div>
    </div>
    <!-- / CENTER -->

</div>