<div id="components" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon *ngIf="dossierID != 0" class="logo-icon s-32 mr-16" [routerLink]="getParentPath()"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" style="cursor: pointer">
                    arrow_back
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{ dossier?.nom }}
                </span>

                <span *ngIf="dossierID == 0" class="logo-text h1"
                      [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{ 'Dossier'}}
                </span>
            </div>

            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="{{ 'APP.DOSSIER.SEARCH_TITLE' | translate }}">
                </div>
            </div>
            <!-- / SEARCH -->

            <!--dossier  -->
            <div>
                <!--create raccourci  -->
                <button (click)="openDialog()" style="margin-right: 5px"
                        mat-raised-button matTooltip="{{ 'CREER UN RACCOURCI' }}"
                        class="add-product-button fuse-white mt-24 mt-md-0">
                    <i class="material-icons" style="color: rgba(0, 0, 0, 0.87);">undo</i>&nbsp;
                    <span style="text-transform: uppercase">{{ '' | translate }}</span>
                </button>

                <!--create new folder  -->
                <button (click)="openDialogofNewDossier()" style="margin-right: 5px"
                        mat-raised-button matTooltip="{{ 'NOUVEAU DOSSIER' }}"
                        class="add-product-button fuse-white mt-24 mt-md-0">
                    <i class="material-icons" style="color: rgba(0, 0, 0, 0.87);">create_new_folder</i>&nbsp;
                    <span style="text-transform: uppercase">{{ '' | translate }}</span>
                </button>

                <!-- Select file AND REFRESH BUTTON -->
                <button (click)="fileInput.click()"
                        mat-raised-button matTooltip="{{ 'CHOISIR UN FICHIER' }}"
                        class="add-product-button fuse-white mt-24 mt-md-0">
                    <i class="material-icons" style="color: rgba(0, 0, 0, 0.87);">cloud_upload</i>&nbsp;
                    <span style="text-transform: uppercase">{{ '' | translate }}</span>
                </button>
                <input hidden id="file" type="file" name="file" #fileInput accept="image/png,image/jpeg,image/jpg,.pdf,.doc,.ppt,.pptx,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                application/excel,application/vnd.ms-excel,application/x-excel,application/x-msexcel,.xlsx"
                       [multiple]="true"
                       (change)="getFileDetails($event)">
            </div>
        </div>
        <!-- / HEADER -->

        <!-- chemin -->
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <p style="color: #F5F5F5; cursor: pointer;">
                <span *ngFor="let parent of listsParent; let i = index"
                      [routerLink]="join(baseLink, join('content', parent.id))"> <span
                    *ngIf="i != 0">></span> {{ parent.dossier }} </span>
                </p>
            </div>

            <!-- suppression et deplacement multiple -->
            <div fxLayout="row" fxLayoutAlign="end center" *ngIf="this.selection.selected.length > 0">
                <!--delete multiple-->
                <button (click)="openDialogDeplacerAll()"
                        style="margin-right: 5px"
                        mat-raised-button matTooltip="{{ 'DEPLACER' }}"
                        class="add-product-button fuse-white mt-24 mt-md-0">
                    <i class="material-icons" style="color: rgba(0, 0, 0, 0.87);">chevron_right</i>&nbsp;
                    <span style="text-transform: uppercase">{{ '' | translate }}</span>
                </button>

                <!--deplace multiple -->
                <button (click)="addAllSelectedInCorbeille()"
                        style="margin-right: 5px"
                        mat-raised-button matTooltip="{{ 'SUPPRIMER' }}"
                        class="add-product-button fuse-white mt-24 mt-md-0">
                    <i class="material-icons" style="color: rgba(0, 0, 0, 0.87);">delete</i>&nbsp;
                    <span style="text-transform: uppercase">{{ '' | translate }}</span>
                </button>
            </div>
        </div>

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="components-table" #table [dataSource]="myDataSource" matSort
                       [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                                      [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)"
                                      [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let component">
                        <p class="text-truncate">{{ getId(component) }}</p>
                    </mat-cell>
                </ng-container>

                <!-- nom Column -->
                <ng-container matColumnDef="icon">

                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm></mat-header-cell>

                    <mat-cell *matCellDef="let component" fxHide fxShow.gt-sm style="align-content: flex-start">

                        <fa-icon style="font-size: 1.57em; color:#EF5350" [icon]="faFilePdf"
                                 *ngIf="isDocument(component) && component.document.typeDocument.nom.includes('pdf')"></fa-icon>

                        <fa-icon style="font-size: 1.52em; color: #268BD2" [icon]="faImage"
                                 *ngIf="isDocument(component) && component.document.typeDocument.nom.includes('image')"></fa-icon>

                        <fa-icon style="font-size: 1.57em; color: #268BD2" [icon]="faFileWord"
                                 *ngIf="isDocument(component) && component.document.nom.includes('doc' || 'docx')"></fa-icon>

                        <fa-icon style="font-size: 1.57em; color: coral" [icon]="faFilePowerpoint"
                                 *ngIf="isDocument(component) && component.document.nom.includes('ppt' || 'pptx')"></fa-icon>

                        <fa-icon style="font-size: 1.57em; color: #2E7D32" [icon]="faFileExcel"
                                 *ngIf="isDocument(component) && component.document.nom.includes('xls')"></fa-icon>

                        <fa-icon style="font-size: 1.57em; color: burlywood" [icon]="faFolder"
                                 *ngIf="isDossier(component)"></fa-icon>

                        <!-- raccourci icon -->

                        <!-- raccourciOfDossier -->
                        <fa-icon style="font-size: 1.57em; color: burlywood" [icon]="faFolder"
                                 *ngIf="isRaccourciOfDossier(component)"></fa-icon>
                        <mat-icon style="margin-bottom: -14px; margin-left: -12px ; font-size: 21px; color:blue"
                                  *ngIf="isRaccourciOfDossier(component)">reply
                        </mat-icon>
                        <!-- raccourciOfDocumentPdf -->
                        <fa-icon style="font-size: 1.57em; color: #EF5350" [icon]="faFilePdf"
                                 *ngIf="isRaccourciOfDocument(component) && component.raccourci.document.typeDocument.nom.includes('pdf')"></fa-icon>
                        <mat-icon style="margin-bottom: -19px; margin-left: -11px; font-size: 21px; color:blue"
                                  *ngIf="isRaccourciOfDocument(component) && component.raccourci.document.nom.includes('pdf')">
                            reply
                        </mat-icon>
                        <!-- raccourciOfImage -->
                        <fa-icon style="font-size: 1.52em; color: #268BD2" [icon]="faImage"
                                 *ngIf="isRaccourciOfDocument(component) && component.raccourci.document.typeDocument.nom.includes('image')"></fa-icon>
                        <mat-icon style="margin-bottom: -14px; margin-left: -12px; font-size: 21px; color:blue"
                                  *ngIf="isRaccourciOfDocument(component) && component.raccourci.document.typeDocument.nom.includes('image')">
                            reply
                        </mat-icon>
                        <!-- raccourciOfDocumentWord -->
                        <fa-icon style="font-size: 1.57em; color: #268BD2" [icon]="faFileWord"
                                 *ngIf="isRaccourciOfDocument(component) && component.raccourci.document.nom.includes('doc' || 'docx')"></fa-icon>
                        <mat-icon style="margin-bottom: -19px; margin-left: -11px; font-size: 21px; color:blue"
                                  *ngIf="isRaccourciOfDocument(component)  && component.raccourci.document.nom.includes('doc' || 'docx')">
                            reply
                        </mat-icon>
                        <!-- raccourciOfDocumentPPT -->
                        <fa-icon style="font-size: 1.57em; color: coral" [icon]="faFilePowerpoint"
                                 *ngIf="isRaccourciOfDocument(component) && component.raccourci.document.nom.includes('ppt' || 'pptx')"></fa-icon>
                        <mat-icon style="margin-bottom: -19px; margin-left: -11px; font-size: 21px; color:blue"
                                  *ngIf="isRaccourciOfDocument(component) && component.raccourci.document.nom.includes('ppt' || 'pptx')">
                            reply
                        </mat-icon>
                        <!-- raccourciOfDocumentExcel -->
                        <fa-icon style="font-size: 1.57em; color: #2E7D32" [icon]="faFileExcel"
                                 *ngIf="isRaccourciOfDocument(component) && component.raccourci.document.nom.includes('xls')"></fa-icon>
                        <mat-icon style="margin-bottom: -19px; margin-left: -11px; font-size: 21px; color:blue"
                                  *ngIf="isRaccourciOfDocument(component)&& component.raccourci.document.nom.includes('xls')">
                            reply
                        </mat-icon>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="nom">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Nom</mat-header-cell>
                    <mat-cell *matCellDef="let component" fxHide fxShow.gt-sm style="align-content: flex-start">
                        <p class="text-truncate">{{ getName(component) }}</p>
                    </mat-cell>
                </ng-container>

                <!-- type Column -->
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Type</mat-header-cell>
                    <mat-cell *matCellDef="let component" fxHide fxShow.gt-sm>
                        <p class="text-truncate"
                           *ngIf="isDocument(component)">{{ component.document.typeDocument.nom }}</p>
                        <p class="text-truncate" *ngIf="isDossier(component)">Dossier</p>
                        <p class="text-truncate" *ngIf="isRaccourci(component)">Raccourci</p>
                    </mat-cell>
                </ng-container>

                <!--  &lt;!&ndash; taille Column &ndash;&gt;
                  <ng-container matColumnDef="taille">
                      <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Taille</mat-header-cell>
                      <mat-cell *matCellDef="let component" fxHide fxShow.gt-sm>
                          <p class="text-truncate">{{ component.taille }}</p>
                      </mat-cell>
                  </ng-container>-->

                <!-- &lt;!&ndash; createdDate Column &ndash;&gt;
                 <ng-container matColumnDef="createdDate">
                     <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Date création
                     </mat-header-cell>
                     <mat-cell *matCellDef="let component" fxHide fxShow.gt-sm>
                         <p class="text-truncate">{{ component.createdDate | date: 'dd/MM/yyyy'}}</p>
                     </mat-cell>
                 </ng-container>-->

                <!-- lastModifiedDate Column -->
                <ng-container matColumnDef="lastModifiedDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Dernière Modification
                    </mat-header-cell>
                    <mat-cell *matCellDef="let component" fxHide fxShow.gt-sm>
                        <p class="text-truncate">{{ getLastModifiedDate(component) | date: 'dd/MM/yyyy' }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let component">
                        <div fxFlex="row" fxLayoutAlign="end center">

                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                    (click)="$event.stopPropagation();">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">

                                <!--<button *ngIf="isDossier(component)"
                                        [routerLink]="join(documentLink, join('dossier', component.id))" mat-menu-item
                                        aria-label="edit">
                                    <mat-icon>description</mat-icon>
                                    <span>{{ 'APP.DOCUMENT.TITLES' | translate }}</span>
                                </button>

                                <button *ngIf="isDossier(component)"
                                        [routerLink]="join(baseLink, join('content', component.id))" mat-menu-item
                                        aria-label="edit">
                                    <mat-icon>folder</mat-icon>
                                    <span>{{ 'APP.DOSSIER.CONTENT' | translate }}</span>
                                </button>
-->
                                <button *ngIf="shared(component)"
                                        mat-menu-item aria-label="edit"
                                        (click)="showShowShared(component)">
                                    <mat-icon>share</mat-icon>
                                    <span>Partager</span>
                                </button>

                                <button *ngIf="isDocument(component)"
                                        [routerLink]="getUpdateDocumentLink(component.document.id)"
                                        mat-menu-item aria-label="edit"
                                        (click)="gotoEditComponent(component.document)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{ 'APP.UPDATE_BTN' | translate }}</span>
                                </button>

                                <button *ngIf="isDossier(component)"
                                        mat-menu-item aria-label="edit"
                                        (click)="afficheDialogueOfEditDossier(component.dossier)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{ 'APP.UPDATE_BTN' | translate }}</span>
                                </button>

                                <button mat-menu-item aria-label="edit"
                                        (click)="openDialogDeplacer(getComponent(component))">
                                    <mat-icon>chevron_right</mat-icon>
                                    <span>Déplacer</span>
                                </button>

                                <button *ngIf="isRaccourci(component)"
                                        mat-menu-item aria-label="edit"
                                        (click)="showRenameDialog(component.raccourci)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{ 'Renommer' | translate }}</span>
                                </button>

                                <button mat-menu-item aria-label="remove" (click)="delete(getComponent(component))">
                                    <mat-icon>delete</mat-icon>
                                    <span>{{ 'APP.DELETE_BTN' | translate }}</span>
                                </button>
                            </mat-menu>
                        </div>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"
                                style="height: 15px ;align-content: flex-start"></mat-header-row>
                <mat-row *matRowDef="let component; columns: displayedColumns;"
                         [routerLink]="getRoute(component)" class="component"
                         style="height: 15px ;align-content: flex-start"
                         matRipple>
                </mat-row>

            </mat-table>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>

<div class="header accent" fxLayout="row" fxLayoutAlign="center">
    <p-dialog header="Renommer" [(visible)]="renomerRaccourci" (onHide)="closeRename()">

        <div [formGroup]="form">
            <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <mat-icon matSuffix class="secondary-text">edit</mat-icon>
                <input name="nom" formControlName="nom" matInput required [(ngModel)]="currentRaccourci.nom">
                <mat-error *ngIf="!form.controls['nom'].valid && form.controls['nom'].dirty &&
          form.controls['nom'].errors['required']">
                    Le champ est requis
                </mat-error>
            </mat-form-field>
        </div>

        <p-footer>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button color="accent" mat-raised-button (click)="updateRaccourci()" [disabled]="form.invalid">Valider
                </button>
            </div>
        </p-footer>
    </p-dialog>
</div>

<div class="header accent" fxLayout="row" fxLayoutAlign="center">
    <p-dialog header="Partager" styleClass="my-style-class" [(visible)]="showShared" (onHide)="closeShowShared()">
        <div>
            <div style="width: 100%;">
                <div appearance="outline" style="width: 100%; color: #0B60A9">
                    <mat-icon matSuffix class="secondary-text">user</mat-icon>
                    <p-dropdown [options]="privileges" [(ngModel)]="shareAuthorisation.user.username" placeholder="Sélectionner un privilège">
                        <mat-option *ngFor="let element of privileges"
                                    [value]="element.value">
                            {{ element.value }}
                        </mat-option>
                    </p-dropdown>
                </div>
            </div>
            <div>
                <div appearance="outline" style="width: 100%;">
                    <mat-icon matSuffix class="secondary-text">user</mat-icon>
                    <div class="ui-inputgroup" style="color: #0B60A9">
                        <span class="ui-inputgroup-addon"><fa-icon [icon]="faUser"></fa-icon>
                            <input id="nom" type="text" pInputText [(ngModel)]="shareUser" placeholder="Utilisateur">
                        </span>
                    </div>
                </div>
                <!--<div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                    <input type="text" pInputText placeholder="Username">
                </div>-->

                <!--<mat-form-field appearance="outline">
                    <mat-label>Utilisateur</mat-label>
                    <mat-icon matSuffix class="secondary-text">user</mat-icon>
                    <input name="nom" matInput required [(ngModel)]="shareUser">
                </mat-form-field>-->
            </div>
        </div>
        <p-footer>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button color="accent" mat-raised-button (click)="partager()" [disabled]="form.invalid">Valider</button>
            </div>
        </p-footer>
    </p-dialog>
</div>
