<div id="components" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon *ngIf="dossierID != 0" class="logo-icon s-32 mr-16" [routerLink]="getParentPath()"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" style="cursor: pointer">
                    arrow_back
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{ dossier?.nom }}
                </span>
            </div>

            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="{{ 'APP.DOSSIER.SEARCH_TITLE' | translate }}">
                </div>
            </div>
            <!-- / SEARCH -->

            <!--dossier  -->
            <div>
                <!--create raccourci  -->
                <button (click)="openDialog()" style="margin-right: 5px"
                        mat-raised-button matTooltip="{{ 'CREER UN RACCOURCI' }}"
                        class="add-product-button fuse-white mt-24 mt-md-0">
                    <i class="material-icons" style="color: rgba(0, 0, 0, 0.87);">undo</i>&nbsp;
                    <span style="text-transform: uppercase">{{ '' | translate }}</span>
                </button>

                <!--create new folder  -->
                <button (click)="openDialogofNewDossier()" style="margin-right: 5px"
                        mat-raised-button matTooltip="{{ 'NOUVEAU DOSSIER' }}"
                        class="add-product-button fuse-white mt-24 mt-md-0">
                    <i class="material-icons" style="color: rgba(0, 0, 0, 0.87);">create_new_folder</i>&nbsp;
                    <span style="text-transform: uppercase">{{ '' | translate }}</span>
                </button>

                <!-- Select file AND REFRESH BUTTON -->
                <button (click)="fileInput.click()"
                        mat-raised-button matTooltip="{{ 'CHOISIR UN FICHIER' }}"
                        class="add-product-button fuse-white mt-24 mt-md-0">
                    <i class="material-icons" style="color: rgba(0, 0, 0, 0.87);">cloud_upload</i>&nbsp;
                    <span style="text-transform: uppercase">{{ '' | translate }}</span>
                </button>
                <input hidden id="file" type="file" name="file" #fileInput accept="image/*,.pdf,.doc" [multiple]="true"
                       (change)="getFileDetails($event)">
            </div>
        </div>
        <!-- / HEADER -->

        <!-- chemin -->
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <p style="color: #F5F5F5; cursor: pointer;">
                <span *ngFor="let parent of listsParent; let i = index"
                      [routerLink]="join(baseLink, join('content', parent.id))"> <span
                    *ngIf="i != 0">></span> {{ parent.dossier }} </span>
                </p>
            </div>

            <!-- suppression et deplacement multiple -->
            <div fxLayout="row" fxLayoutAlign="end center" *ngIf="this.selection.selected.length > 0">
                <!--delete multiple-->
                <button (click)="openDialogDeplacerAll()"
                        style="margin-right: 5px"
                        mat-raised-button matTooltip="{{ 'DEPLACER' }}"
                        class="add-product-button fuse-white mt-24 mt-md-0">
                    <i class="material-icons" style="color: rgba(0, 0, 0, 0.87);">chevron_right</i>&nbsp;
                    <span style="text-transform: uppercase">{{ '' | translate }}</span>
                </button>

                <!--deplace multiple -->
                <button (click)="addAllSelectedInCorbeille()"
                        style="margin-right: 5px"
                        mat-raised-button matTooltip="{{ 'SUPPRIMER' }}"
                        class="add-product-button fuse-white mt-24 mt-md-0">
                    <i class="material-icons" style="color: rgba(0, 0, 0, 0.87);">delete</i>&nbsp;
                    <span style="text-transform: uppercase">{{ '' | translate }}</span>
                </button>
            </div>
        </div>

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="components-table" #table [dataSource]="myDataSource" matSort
                       [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                                      [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)"
                                      [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let component">
                        <p class="text-truncate">{{ component.id }}</p>
                    </mat-cell>
                </ng-container>

                <!-- nom Column -->
                <ng-container matColumnDef="nom">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Nom</mat-header-cell>
                    <mat-cell *matCellDef="let component" fxHide fxShow.gt-sm style="align-content: flex-start">
                        <mat-icon style="color:#03A9F4" *ngIf="isDocument(component)">description</mat-icon>
                        <mat-icon style="color: burlywood" *ngIf="isDossier(component)">folder</mat-icon>
                        <mat-icon style="color: burlywood" *ngIf="isRaccourciOfDossier(component)">folder</mat-icon>
                        <mat-icon style="margin-bottom: -10px; margin-left: -20px; color: burlywood"
                                  *ngIf="isRaccourciOfDossier(component)">reply
                        </mat-icon>
                        <mat-icon style="color:#03A9F4" *ngIf="isRaccourciOfDocument(component)">description</mat-icon>
                        <mat-icon style="margin-bottom: -10px; margin-left: -20px ; color:#82AAFF"
                                  *ngIf="isRaccourciOfDocument(component)">reply
                        </mat-icon>
                        <p class="text-truncate">{{ component.nom }}</p>
                    </mat-cell>
                </ng-container>

                <!-- type Column -->
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Type</mat-header-cell>
                    <mat-cell *matCellDef="let component" fxHide fxShow.gt-sm>
                        <p class="text-truncate" *ngIf="isDocument(component)">{{ component.typeDocument.nom }}</p>
                        <p class="text-truncate" *ngIf="isDossier(component)">Dossier</p>
                        <p class="text-truncate" *ngIf="isRaccourci(component)">Raccourci</p>
                    </mat-cell>
                </ng-container>

                <!--  &lt;!&ndash; taille Column &ndash;&gt;
                  <ng-container matColumnDef="taille">
                      <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Taille</mat-header-cell>
                      <mat-cell *matCellDef="let component" fxHide fxShow.gt-sm>
                          <p class="text-truncate">{{ component.taille }}</p>
                      </mat-cell>
                  </ng-container>-->

                <!-- &lt;!&ndash; createdDate Column &ndash;&gt;
                 <ng-container matColumnDef="createdDate">
                     <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Date création
                     </mat-header-cell>
                     <mat-cell *matCellDef="let component" fxHide fxShow.gt-sm>
                         <p class="text-truncate">{{ component.createdDate | date: 'dd/MM/yyyy'}}</p>
                     </mat-cell>
                 </ng-container>-->

                <!-- lastModifiedDate Column -->
                <ng-container matColumnDef="lastModifiedDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Dernière Modification
                    </mat-header-cell>
                    <mat-cell *matCellDef="let component" fxHide fxShow.gt-sm>
                        <p class="text-truncate">{{ component.lastModifiedDate | date: 'dd/MM/yyyy' }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let component">
                        <div fxFlex="row" fxLayoutAlign="end center">

                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                    (click)="$event.stopPropagation();">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">

                                <!--<button *ngIf="isDossier(component)"
                                        [routerLink]="join(documentLink, join('dossier', component.id))" mat-menu-item
                                        aria-label="edit">
                                    <mat-icon>description</mat-icon>
                                    <span>{{ 'APP.DOCUMENT.TITLES' | translate }}</span>
                                </button>

                                <button *ngIf="isDossier(component)"
                                        [routerLink]="join(baseLink, join('content', component.id))" mat-menu-item
                                        aria-label="edit">
                                    <mat-icon>folder</mat-icon>
                                    <span>{{ 'APP.DOSSIER.CONTENT' | translate }}</span>
                                </button>
-->
                                <button *ngIf="isDocument(component)" [routerLink]="getUpdateDocumentLink(component.id)"
                                        mat-menu-item aria-label="edit"
                                        (click)="gotoEditComponent(component)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{ 'APP.UPDATE_BTN' | translate }}</span>
                                </button>

                                <button *ngIf="isDossier(component)"
                                        mat-menu-item aria-label="edit"
                                        (click)="afficheDialogueOfEditDossier(component)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{ 'APP.UPDATE_BTN' | translate }}</span>
                                </button>

                                <button mat-menu-item aria-label="edit" (click)="openDialogDeplacer(component)">
                                    <mat-icon>chevron_right</mat-icon>
                                    <span>Déplacer</span>
                                </button>

                                <button *ngIf="isRaccourci(component)"
                                        mat-menu-item aria-label="edit"
                                        (click)="showRenameDialog(component)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{ 'Renommer' | translate }}</span>
                                </button>

                                <button mat-menu-item aria-label="remove" (click)="delete(component)">
                                    <mat-icon>delete</mat-icon>
                                    <span>{{ 'APP.DELETE_BTN' | translate }}</span>
                                </button>
                            </mat-menu>
                        </div>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"
                                style="height: 15px ;align-content: flex-start"></mat-header-row>
                <mat-row *matRowDef="let component; columns: displayedColumns;"
                         [routerLink]="getRoute(component)" class="component"
                         style="height: 15px ;align-content: flex-start"
                         matRipple>
                </mat-row>

            </mat-table>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>

<div>
    <p-dialog header="Renommer" [(visible)]="renomerRaccourci" (onHide)="closeRename()">

        <div [formGroup]="form">
            <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <mat-icon matSuffix class="secondary-text">edit</mat-icon>
                <input name="nom" formControlName="nom" matInput required [(ngModel)]="currentRaccourci.nom">
                <mat-error *ngIf="!form.controls['nom'].valid && form.controls['nom'].dirty &&
          form.controls['nom'].errors['required']">
                    Le champ est requis
                </mat-error>
            </mat-form-field>
        </div>

        <p-footer>
            <div fxLayout="row" fxLayoutAlign="center none">
                <button color="accent" mat-raised-button (click)="closeRename()">Fermer</button>
                <button color="accent" mat-raised-button (click)="updateRaccourci()" [disabled]="form.invalid">Valider
                </button>
            </div>
        </p-footer>
    </p-dialog>
</div>
